@Master['Layouts/Marketing']

@Section['Content']

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>Self Hosted Nancy with Make</h1>
	<p>Coded in <em>Nancy</em></p>
	<p>Compiled with <em>Mono 2.10</em></p>
	<p>Built with <em>Make</em></p>
	<p>Hosted by a <em>Self Contained EXE<em></p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
        <h2>Make</h2>
        <p>This project relies on GNU MAKE 3.81.</p>
	</div>
	<div class="span4">
		<h2>Mono 2.10</h2>
        <p>This project depends on Mono 2.10</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h3>About Me</h3>
	</div>
</div>
<div class="row">
	<div class="span2">
		<img class="thumbnail" src="http://www.gravatar.com/avatar/3d8145731dd041b1dda94424e142193a"/>
	</div>
	<div class="span8">
		<p>Hey,</p>
		<p>My name is Adam.  Thanks for pulling down and running this code.</p>
		<p>
			I'm a software developer from Boise Idaho.  I love tackling big problems and creating elegant solutions.  That's why I love <a href='http://nancyfx.org/'>Nancy</a> so much. You can find me on twitter with @adamclerk.
		</p>
	</div>
</div>
<hr>
<footer>
	<p>&copy; Company 2012</p>
</footer>

@EndSection
