<configuration>
	<configSections>
		<section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
	</configSections>
	<appSettings>
		<add key="GravatarHash" value="3d8145731dd041b1dda94424e142193a"></add>
	</appSettings>
	<razor disableAutoIncludeModelNamespace="false">
		<assemblies>
		</assemblies>
		<namespaces>
		</namespaces>
	</razor>
</configuration>
